@media (max-width: 1199.99px) {
  .hero-hello {
    font-size: 1.2rem;
    padding: 0.8rem 2.6rem;
  }
  #hero-tittle {
    font-size: 5rem;
    line-height: 5rem;
  }
  .heading-secondary {
    font-size: 3rem;
  }
  .heading-tertiary {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .hero-link:link,
  .hero-link:visited {
    font-size: 1.6rem;
  }
  .hero-address {
    font-size: 1.6rem;
  }
  .hero-img {
    width: 30rem;
    height: 30rem;
  }
  .about-description {
    font-size: 1.6rem;
  }
  .badge {
    font-size: 1.6rem;
  }
  .heading-fourth {
    font-size: 2rem;
  }
  .experiences-work {
    font-size: 2rem;
  }
  .experiences-year {
    font-size: 1.6rem;
  }
  .experiences-description {
    font-size: 1.8rem;
  }
  .contact-boxes {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  .contact-box {
    width: 45%;
    padding: 4rem;
  }
  .contact-icon {
    width: 3rem;
    height: 3rem;
    padding: 3rem;
  }
  .contact-tittle {
    font-size: 2.4rem;
  }
  .contact-description {
    font-size: 1.8rem;
  }
  .contact-link:link,
  .contact-link:visited {
    font-size: 1.8rem;
  }
  .contact-button:link,
  .contact-button:visited {
    font-size: 2rem;
    padding: 1.4rem;
  }
}
@media (max-width: 991.99px) {
  .nav-button-mobile {
    display: block;
  }
  .navigation {
    background-color: rgba(27, 31, 43, 0.938);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .nav-mobile-icon[name="close-outline"] {
    display: block;
  }

  .nav-open .nav-mobile-icon[name="menu-outline"] {
    display: none;
  }
  .nav-link:link,
  .nav-link:visited {
    font-weight: 700;
    font-size: 2.6rem;
  }
  .nav-list--main {
    flex-direction: column;
    gap: 4.8rem;
  }
  .hero-img {
    width: 25rem;
    height: 25rem;
  }
  .about-description {
    font-size: 1.4rem;
  }
  .badge {
    border: 0.3rem solid #0bceaf;
  }
  .experiences-box {
    margin-top: 3rem;
  }
}
@media (max-width: 767.99px) {
  #hero-tittle {
    font-size: 4rem;
  }
  .logo-main:link,
  .logo-main:visited {
    font-size: 2.6rem;
  }
  .logo {
    height: 3rem;
  }
  .nav-link:link,
  .nav-link:visited {
    font-weight: 600;
    font-size: 2.2rem;
  }
  .hero {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }
  .hero-text {
    width: 70%;
  }
  .hero-list {
    margin-top: 2rem;
  }
  .heading-tertiary {
    font-size: 2rem;
  }
  .hero-link:link,
  .hero-link:visited {
    font-size: 1.6rem;
  }
  .hero-address {
    font-size: 1.6rem;
  }
  .hero-circle {
    text-align: center;
    width: 33rem;
    height: 33rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    text-align: center;
  }
  .section-about {
    flex-direction: column-reverse;
  }
  .about-img {
    width: 60%;
  }
  .about-text {
    width: 60%;
  }
  .about-description {
    font-size: 1.7rem;
  }
  .skills {
    width: 100%;
  }
  .experiences-boxes {
    width: 80%;
  }
  .contact-box {
    width: 80%;
  }
}
@media (max-width: 575.99px) {
  .header {
    padding: 2rem 3rem;
  }
  .logo-main:link,
  .logo-main:visited {
    font-size: 2rem;
  }
  .logo {
    height: 2rem;
  }
  .nav-mobile-icon {
    height: 3.4rem;
    width: 3.4rem;
  }
  .nav-list--main {
    gap: 3rem;
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 1.8rem;
  }
  .hero {
    padding: 9rem 4rem 0 4rem;
  }
  .hero-text {
    width: 100%;
  }
  .hero-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
  #hero-tittle {
    font-size: 3.4rem;
  }
  .hero-hello {
    padding: 0.2rem 1.8rem;
  }
  .hero-link:link,
  .hero-link:visited {
    font-size: 1.4rem;
  }
  .hero-address {
    font-size: 1.4rem;
  }
  .hero-img {
    width: 20rem;
    height: 20rem;
  }
  .hero-circle {
    width: 29rem;
    height: 29rem;
  }
  .about-text {
    width: 100%;
  }
  .about-img {
    width: 100%;
  }
  .skills-box {
    width: 100%;
  }
  .experiences-boxes {
    width: 100%;
  }
  .section-contact {
    background-attachment: unset;
  }
  .contact-box {
    width: 100%;
  }
  .contact-tittle {
    font-size: 2.2rem;
  }
  .contact-description {
    font-size: 1.6rem;
  }
  .contact-link:link,
  .contact-link:visited {
    font-size: 1.6rem;
  }
  .contact-list {
    padding: 4rem 2rem 2.4rem 2rem;
  }
  .copyright {
    font-size: 1.2rem;
    margin-bottom: 4rem;
  }
}
