.logo {
  height: 5.2rem;
}
.logo-main:link, .logo-main:visited {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 3rem;
  color: #fff8dc;
  transition: all 0.5s;
}
.logo-main:hover, .logo-main:active {
  color: #0bceaf;
}

.header {
  background-color: #212529;
  position: fixed;
  padding: 3rem 4rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 55;
}

.header-mid {
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navigation {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.nav-list--main {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav-link:link, .nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff8dc;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.nav-link:hover, .nav-link:active, .nav-link.active {
  color: #0bceaf;
}

.hero-circle {
  position: relative;
  border-radius: 50%;
  border: 2.5rem solid rgba(29, 29, 29, 0.637);
}

.hero-img {
  background-image: url("../img/foto_of_me.jpg");
  background-size: cover;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  margin: 2rem;
}

.hero-img:before {
  content: "";
  border-radius: 50%;
  border: 2.5rem solid transparent;
  border-bottom: 2.5rem solid #0bceaf;
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
  right: -2.5rem;
  bottom: -2.5rem;
  animation: spin 8s linear infinite;
}

.about-img {
  width: 45%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.badge {
  display: inline-block;
  padding: 1.6rem 1.6rem;
  font-weight: 500;
  font-size: 2rem;
  color: #fff8dc;
  border-radius: 2rem;
  border: 0.5rem solid #0bceaf;
}
.badge:hover {
  background-color: #0bceaf;
  color: white;
}

.contact-form {
  max-width: 50rem;
  text-align: center;
}
.contact-form input, .contact-form textarea, .contact-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #fff8dc;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.9rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #fff8dc;
  margin-top: 3rem;
}
.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #fff8dc;
}

.hero-icon {
  width: 2rem;
  height: 2rem;
  color: #0bceaf;
}

.contact-icon {
  width: 4rem;
  height: 4rem;
  padding: 4rem;
  color: #fff8dc;
  border-radius: 50%;
  border: 0.3rem solid #0bceaf;
}

.contact-link:link, .contact-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff8dc;
  transition: all 0.3s;
}
.contact-link:active, .contact-link:hover {
  color: #0bceaf;
}

.hero-link:link, .hero-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff8dc;
  transition: all 0.3s;
}

.contact-button:link,
.contact-button:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #0bceaf;
  padding: 1.6rem;
  border-radius: 2rem;
  color: #fff8dc;
  margin-top: 3rem;
}

.hero-hello {
  background-color: #0bceaf;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem 3rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.hero-address {
  font-size: 1.8rem;
}

.about-description {
  font-size: 1.8rem;
  margin-top: 2rem;
}

.experiences-year {
  font-size: 1.8rem;
  color: #0bceaf;
  margin-top: 2rem;
}

.experiences-description {
  font-size: 2rem;
  margin-top: 1rem;
}

.experiences-work {
  font-size: 2.2rem;
  color: #0bceaf;
}

.contact-tittle {
  font-size: 2.6rem;
  margin-top: 4rem;
}

.copyright {
  text-align: center;
  font-size: 1.6rem;
  color: #fff8dc;
  margin: 8rem auto 6rem auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff8dc;
  overflow-x: hidden;
  background-color: #202026;
}

p {
  font-size: 20px;
  line-height: 1.6;
  color: #fff8dc;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  padding: 15rem 4rem 0 4rem;
  display: flex;
  justify-content: space-between;
}

#hero-tittle {
  font-size: 6rem;
  font-weight: 600;
  line-height: 6rem;
  margin-top: 1rem;
}

.heading-secondary {
  font-size: 4rem;
}

.heading-tertiary {
  font-size: 2.6rem;
  line-height: 3.4rem;
  margin-top: 2rem;
}

.heading-fourth {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 600;
}

.hero-list {
  margin-top: 6rem;
}

.hero-list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.section-about {
  padding: 9.6rem 4rem 0 4rem;
  display: flex;
  justify-content: space-between;
}

.about-img {
  width: 45%;
}

.about-text {
  width: 45%;
}

.section-skills {
  padding: 9.6rem 4rem 0 4rem;
  display: flex;
  justify-content: space-between;
}

.skills-box {
  width: 45%;
}

.skills {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  gap: 2rem;
}

.section-experiences {
  padding: 9.6rem 4rem 6.2rem 4rem;
  display: flex;
  justify-content: space-between;
}

.experiences-boxes {
  width: 45%;
}

.experiences-box {
  padding: 4rem;
  margin-top: 6rem;
  background-color: #212529;
  box-shadow: -1rem 0 3rem #000;
}

.section-contact {
  padding: 9.6rem 4rem 0 4rem;
  background-image: url("../img/map-img.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.heading-secondary_mid {
  text-align: center;
}

.contact-boxes {
  display: flex;
  gap: 10rem;
  text-align: center;
  margin-top: 6rem;
}

.contact-box {
  padding: 5rem;
  width: 30%;
  background-color: #212529;
  transform: translateY(20rem);
  opacity: 0;
  transition: 800ms;
}

.contact-box.show {
  transform: translateY(0);
  opacity: 1;
}

.contact-tittle {
  font-size: 2.6rem;
  margin-top: 4rem;
}

.contact-list {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.8rem 6.4rem 2.4rem 6.4rem;
  display: flex;
  justify-content: center;
  border-radius: 1.2rem;
  margin-top: 6rem;
}

/*# sourceMappingURL=style.css.map */
