.contact-form {
  max-width: 50rem;
  text-align: center;

  & input,
  & textarea,
  & select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: $color-white;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.9rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 0.2rem solid $color-white;
    margin-top: 3rem;
  }
  & input::placeholder,
  & textarea::placeholder {
    color: $color-white;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
}
input.contact-button {
  width: 40%;
  font-size: 2.2rem;
  font-weight: 500;
  background-color: $color-mint;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  @include for-desktop {
    width: 50%;
  }
  @include for-phone {
    font-size: 1.6rem;
    width: 55%;
  }
}
