.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1f2b;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 55;
}
