.hero-icon {
  width: 2rem;
  height: 2rem;
  color: $color-mint;
  @include for-phone {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.contact-icon {
  width: 4rem;
  height: 4rem;
  padding: 4rem;
  color: $color-white;
  border-radius: 50%;
  border: 0.3rem solid $color-mint;
  @include for-desktop {
    width: 3rem;
    height: 3rem;
    padding: 3rem;
  }
  @include for-phone {
    width: 2rem;
    height: 2rem;
  }
}
