.hero-icon {
  width: 2rem;
  height: 2rem;
  color: $color-mint;
}
.contact-icon {
  width: 4rem;
  height: 4rem;
  padding: 4rem;
  color: $color-white;
  border-radius: 50%;
  border: 0.3rem solid $color-mint;
}
