.hero-circle {
  position: relative;
  border-radius: 50%;
  border: 2.5rem solid rgba(29, 29, 29, 0.637);
}

.hero-img {
  background-image: url("../img/foto_of_me.jpg");
  background-size: cover;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  margin: 2rem;
}

.hero-img:before {
  content: "";
  border-radius: 50%;
  border: 2.5rem solid transparent;
  border-bottom: 2.5rem solid #0bceaf;
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
  right: -2.5rem;
  bottom: -2.5rem;
  animation: spin 8s linear infinite;
}
.about-img {
  width: 45%;
}
