.hero-link {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.8rem;
    color: $color-white;
    transition: all 0.3s;
    margin-top: 1rem;
    @include for-desktop {
      font-size: 1.6rem;
    }
    @include for-phone {
      font-size: 1.4rem;
    }
  }
}
.contact-link {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 2rem;
    color: $color-white;
    transition: all 0.3s;
    @include for-desktop {
      font-size: 1.8rem;
    }
    @include for-phone {
      font-size: 1.6rem;
    }
  }
  &:active,
  &:hover {
    color: $color-mint;
  }
}
