.logo-main {
  &:link,
  &:visited {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
    color: #dee2e6;
    transition: all 0.5s;
  }
  &::first-letter {
    color: #e67e22;
  }
  &:hover,
  &:active {
    color: #e67e22;
  }
}

.logo {
  height: 5.2rem;
}
