.hero-title {
  font-size: 6rem;
  font-weight: 600;
  line-height: 6rem;
  margin-top: 1rem;
}
.hero-address {
  font-size: 1.8rem;
}
.about-description {
  font-size: 1.8rem;
  margin-top: 2rem;
}
.experiences-year {
  font-size: 1.8rem;
  color: $color-mint;
  margin-top: 2rem;
}
.experiences-description {
  font-size: 2rem;
  margin-top: 1rem;
}
.experiences-work {
  font-size: 2.2rem;
  color: $color-mint;
}
.contact-tittle {
  font-size: 2.6rem;
  margin-top: 4rem;
}
.copyright {
  font-size: 1.6rem;
  color: $color-white;
  margin-top: 8rem;
}
