.hero-hello {
  background-color: $color-mint;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem 3rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.hero-address {
  font-size: 1.8rem;
}
.about-description {
  font-size: 1.8rem;
  margin-top: 2rem;
}
.experiences-year {
  font-size: 1.8rem;
  color: $color-mint;
  margin-top: 2rem;
}
.experiences-description {
  font-size: 2rem;
  margin-top: 1rem;
}
.experiences-work {
  font-size: 2.2rem;
  color: $color-mint;
}
.contact-tittle {
  font-size: 2.6rem;
  margin-top: 4rem;
}
.copyright {
  max-width: 120rem;
  margin: 0 auto;
  font-size: 1.6rem;
  color: $color-white;
  margin: 8rem auto 0 auto;
}
